<footer class="footer footer-center max-md:text-left py-3 text-lg bg-base-100 bg-opacity-60">
	<aside>
		<small>
			<span>© 2024 </span>
			<span>
				<a class="text-src-blue hover:text-src-blue" href="https://github.com/FurryRbl">锐冰龙 (SharpIce)</a>
			</span>
			<span> 保留所有权利。除非另有说明，所有文字内容均依据</span>
			<span>
				<a class="text-src-blue hover:text-src-blue" href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0</a>
			</span>
			<span> 许可进行传播和使用。</span>
		</small>
	</aside>
</footer>
