<!doctype html>
<html lang="zh" dir="ltr">

<head>
	<%- include('common/head.ejs') %>
</head>

<body data-overlayscrollbars-initialize>
	<%- include('components/header.ejs') %>
	<div class="flex-1 p-4">
		<%
			const vuePages = 'page/vue.ejs';
  			const templateMapping = {
    			'wiki/*': 'page/wiki/wiki.ejs',
    			'404.html': 'page/404.ejs',
    			'index.html': 'page/index.ejs',
				'search.html': vuePages,
				'map/index.html': vuePages,
    			'settings/index.html': vuePages,
  			};

  			const matchedTemplate = Object.keys(templateMapping).find(pattern => {
    			const regex = new RegExp('^' + pattern.replace(/[*]/g, '.*') + '$');
    			return regex.test(page.path);
  			});

  			const selectedTemplate = templateMapping[matchedTemplate] || 'page/index.ejs';
		%>
		<%- include(selectedTemplate) %>
	</div>
	<%- include('components/footer.ejs') %>
	<noscript class="fixed top-0 flex items-center justify-center w-screen h-screen bg-black bg-opacity-60 text-white select-none space-y-5 flex-col z-50">
		<p class="text-xl lg:text-4xl">哎呀！看起来你没有启用 JavaScript！</p>
		<p class="text-sm lg:text-xl">为了正常浏览科荧世界观站点，请开启 JavaScript。</p>
	</noscript>
</body>

</html>
